<!-- Final Project: Game of Cars-dashboard -->
<!-- Index.html: The dashboard/ Home page for the website-->
<!--############################################################-->
<!DOCTYPE html>
<html lang="en">
<!--########################### Header #################################-->
<head>
    <!-- All meta tags should be first in the header-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Final Project: Game of Cars -dashboard </title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"></script>
    <!-- Bootstrap links -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
    <!-- Bootstrap css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
      crossorigin="anonymous">
      <link rel="stylesheet" href="static/css/bootstrap_simplex.css">
  
    <!--The following uses data URI and can be used to avoid fake favicon requests:-->
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
  
    <!-- css Style Scripts -->
    <link rel="stylesheet" href="static/css/style.css">
    
  
  </head>
  <!--########################### Body for html #################################-->
  
  <body>
    <!-- navbar: A horizontal bar,top of a web page, offering a number of links to help the viewer to navigate the web site. Origin: Shortening of navigation bar. -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">
        <img src="../static/images/logo.png" class="img-responsive nav_images" ml-auto onmouseover="this.src ='/static/images/logo1.png'"
          onmouseout="this.src = 'static/images/logo.png'" alt=""></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/"><i class="fas fa-car"></i> Home </a>
          </li>
          <li class ="nav-item dropdown">
            <a class ="nav-link dropdown-toggle" data-toggle="dropdown" data-target ="#dropdown_target" href="#"><i class="fas fa-car"></i>  Game Cards
            
            </a>
            <ul class ="dropdown-menu" aria-labelledby="dropdown_target">
              <li><a class ="dropdown-item" href="/loan"><i class="fas fa-hand-holding-usd"></i> Loan Model</a></li>
              <li><a class ="dropdown-item" href="/mpg"><i class="fas fa-gas-pump"></i> Mpg Model</a></li>
              <li><a class ="dropdown-item" href="/resale"><i class="fas fa-money-check-alt"></i> Resale Model</a></li>
             <li><a class ="dropdown-item" href="/smartway"><i class="far fa-grin-stars"></i> Smartway Model</a></li>
          </ul>
        </li>
          <li class="nav-item">
            <a class="nav-link" href="/magic"><i class="fas fa-car"></i> The Magic</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about"><i class="fas fa-car"></i> About</a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- End of the Navigation bar-->
  <!--------------------------------------------------------->
  <!-- Start of Main container-->
  <div class ="container-fluid">
    <div class="row" style = "padding-bottom:10px;">
      <div class ="col-md-5">
        <div class ="panel panel-default">
         <!-- Main panel-->
        <div class="panel-heading panel-heading-custom">
          <h3><i class="fas fa-gamepad"></i> GAME OF CARS <i class="fas fa-car"></i> 
            
          </h3>
          <img class="img-responsive highlight_blue " src="../static/Images/carbanner.jpg " style = "width: 40%" alt="banner">
        </div>
        <br>
        <div class="panel-body">
          
          <p>
        <strong>Lets Play Game of Cars</strong> </p>

 <!-- @Axander Write up ************************************-->         
          <p><H1> Welcome to Feature PG</H1></p>
                                      
          <p></p>
        

        </div>
       </div>
     </div>
     <div class = "col-md-4 highlight_blue">
     <div class = "row">
        <!---->
        <div class="card-columns" style = "padding-left:40px;">
            
          <div class=" card bg-light border-primary text-center" style="width:12em;  ">
            
                <h5>Amir</h5>
                <img class="card-img-top mx-auto d-block" src="../static/Images/black-doctor.jpg" style ="width: 100%; " alt="Person 1" >
                
              <input type="button" class="btn btn-outline-primary mt-auto" id="button1" value="Select Amir" onclick="update_amir()">

          
          </div>
          <div class=" card bg-light border-primary text-center" style="width:12em;  ">
            
              <h5>Nadia </h5>
              <img class="card-img-top mx-auto d-block" src="../static/Images/woman.jpg" style ="width: 100%; " alt="Person 2" >
              
            <input type="button" class="btn btn-outline-primary mt-auto" id="button2" value="Select Nadia" onclick="update_nadia()">
        
        </div>
        <div class=" card bg-light border-primary text-center" style="width:12em;  ">
            
            <h5>Sarah</h5>
            <img class="card-img-top mx-auto d-block" src="../static/Images/woman1.jpg" style ="width: 100%; " alt="Person 3" >
            
          <input type="button" class="btn btn-outline-primary mt-auto" id="button3" value="Select Sarah" onclick="update_sarah()">
      
      </div>
      <div class=" card bg-light border-primary text-center" style="width:12em;  ">
            
          <h5>Dan </h5>
          <img class="card-img-top mx-auto d-block" src="../static/Images/man2.png" style ="width: 100%; " alt="Person 4" >
          
        <input type="button" class="btn btn-outline-primary mt-auto" id="button4" value="Select Dan" onclick="update_dan()">
    
    </div>
            

          
        </div>
        <!---->
      </div>
    </div>

   <!-- right side-->
  
   <div class ="col-md-2">
      <div class = "row" style = "padding-left:30px;">

          <a>
            <img class="img-responsive" src="../static/Images/car_buyer.png"  style = "width: 100%; padding-left:10px;" alt= ""></a>

      </div>
      <div class = "row">
        <div class="card-columns">
            <a href="/loan">
          <div class="card bg-danger text-center" style="width:10em;  ">
            <div class ="zoom">
            <img class="card-img-top mx-auto d-block" src="../static/Images/red-car-in-shopping-cart.png" style ="width: 100%; " alt="Loan Card" ></div>
           <div class="btn btn-primary mt-auto"><i class="fas fa-hand-holding-usd"></i> Loan Card</div>
          </div>
        </a>
        <a href="/mpg">
            <div class="card bg-danger text-center" style="width:10em; ">
              <div class ="zoom">
              <img class="card-img-top mx-auto d-block" src="../static/Images/mpg.jpg" style ="width: 100%; " alt="Mpg Card" ></div>
             <div class="btn btn-primary mt-auto"><i class="fas fa-gas-pump"></i> Mpg Card</div>
            </div>
          </a>
          <a href="/resale">
              <div class="card bg-danger text-center" style="width:10em; ">
                <div class ="zoom">
                <img class="card-img-top mx-auto d-block" src="../static/Images/Resale.jpg" style ="width: 100%; " alt="Resalr Card" ></div>
               <div class="btn btn-primary mt-auto"><i class="fas fa-money-check-alt"></i> Resale Card</div>
              </div>
            </a>
            <a href="/smartway">
                <div class="card bg-danger text-center" style="width:10em; ">
                  <div class ="zoom">
                  <img class="card-img-top mx-auto d-block" src="../static/Images/smartway.png" style ="width: 100%; " alt="Smartway Card" ></div>
                 <div class="btn btn-primary mt-auto"><i class="far fa-grin-stars"></i> Smartway Card</div>
                </div>
              </a>
  
          
        </div>
      </div>
    </div>
    <br> 
    </div>
  </div>
  <!-- Footer -->
<footer>
  <!-- Copyright -->
    <p><i class="far fa-copyright"></i>
       Copyright 2019: Keep Calm and  <i class="fas fa-gas-pump"></i>  On
    </p>      
  </footer>

  <!--################## All the javascripts used for this page ####################### -->
  <!-- Plotly and d3 and javascript files -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script type="text/javascript" src="../static/js/person_selection.js"></script>


  
 
  <!-- End of the scripts -->
</body>

</html>
<!------------ End of HTML ---------------->