<!-- Final Project: Game of Cars-dashboard -->
<!-- Index.html: The dashboard/ Home page for the website-->
<!--############################################################-->
<!DOCTYPE html>
<html lang="en">
<!--########################### Header #################################-->

<head>
  <!-- All meta tags should be first in the header-->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Final Project: Game of Cars -dashboard </title>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <!-- Bootstrap links -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  <!-- Bootstrap css -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
    crossorigin="anonymous">
  <link rel="stylesheet" href="static/css/bootstrap_simplex.css">

  <!--The following uses data URI and can be used to avoid fake favicon requests:-->
  <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">

  <!-- css Style Scripts -->
  <link rel="stylesheet" href="static/css/style.css">


</head>
<!--########################### Body for html #################################-->

<body>
  <!-- navbar: A horizontal bar,top of a web page, offering a number of links to help the viewer to navigate the web site. Origin: Shortening of navigation bar. -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
      <img src="../static/images/logo.png" class="img-responsive nav_images" ml-auto onmouseover="this.src ='/static/images/logo1.png'"
        onmouseout="this.src = 'static/images/logo.png'" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor03">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/"><i class="fas fa-car"></i> Home </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" data-target="#dropdown_target" href="#"><i class="fas fa-car"></i>
            Game Cards

          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdown_target">
            <li><a class="dropdown-item" href="/loan"><i class="fas fa-hand-holding-usd"></i> Loan Model</a></li>
            <li><a class="dropdown-item" href="/mpg"><i class="fas fa-gas-pump"></i> Mpg Model</a></li>
            <li><a class="dropdown-item" href="/resale"><i class="fas fa-money-check-alt"></i> Resale Model</a></li>
            <li><a class="dropdown-item" href="/smartway"><i class="far fa-grin-stars"></i> Smartway Model</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/magic"><i class="fas fa-car"></i> The Magic</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/about"><i class="fas fa-car"></i> About</a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- End of the Navigation bar-->
  <!-- End of the Navigation bar-->
  <!--###################### Begin Loan Model KMeans Write up##############################################-->
  <!-- Start of Main container-->
  <div class="container-fluid">
    <div class="row" style="padding-bottom: 10px;">
      <!--################## RIGHT SIDE OF PG#####################-->
      <div class="col-md-5">
        <!-- Gamee of cards logo-->
        <div class="panel-heading panel-heading-custom">
          <h3><i class="fas fa-gamepad"></i> Game of Cars <i class="fas fa-car"></i></h3>
        </div> <!-- End Panel heading-->
        <!--  Start Row 2-->
        <div class="row">
          <h5>Cluster Data into 'High-Resale' and 'Low-Resale' Groups</h5>
        </div> <!-- End Row 2-->
        <!-- Start Row 3-->
        <div class="row">
          <img class="img-responsive highlight" src="../static/images/kmeans_5.PNG" style="width: 75%" alt="Cluster-Category">

        </div> <!-- End Row 3-->

        <!-- Start Row 4-->
        <div class="row">
          <h3><u>Model Features</u></h3>
        </div> <!-- End Row 4-->
        <!-- Start Row 5-->
        <div class="row">
          <h5>
            <font color="aliceblue">
              <!-- Start Ordered List-->
              <ol>
                <li>Car Model</li>
                <li>Fuel Type</li>
                <li>Vehicle Class</li>
                <li>Displ</li>
                <li>Cylinders</li>
                <li>Transmission</li>
                <li>Drive</li>
                <li>Smog Rating</li>
                <li>City MPG</li>
                <li>Highway MPG</li>
                <li>Comnined MPG</li>
                <li>Greenhouse Gas Score</li>
                <li>Smartway Classification</li>
                <li>CO<sub>2</sub> Emission</li>
                <li> 2016 Sales</li>
                <li> 2017 Sales</li>
                <li> 2018 Sales</li>



              </ol> <!-- End Ordered List-->
          </h5>
          </font>
        </div> <!-- End Row 5-->
        <!--######## START HIGHLIGHT BOX-->
        <div class = "row">
          <div class = "col-md-12 highlight">
              <div class = "row"> <!--Row 1-->
                  <div class = "col-12-md">
                    <h2>Plotting Features of Dataset:</h2>
                  </div>
                </div> <!-- End Row 1-->
                <!-- Row 2-->
                <div class = "row">
                    <div class = "col-md-12">
                      <img class="img-responsive highlight_blue" src="../static/images/Kmeans_histo_2017_2.png" style="width: 100%" alt="Data-preview">
                    </div> <!-- End Row 2-->
                  </div>
                  <div class = "row">
                      <div class = "col-md-12">
                        <img class="img-responsive highlight_blue" src="../static/images/Kmeans_histo_2017_3.png" style="width: 100%" alt="Data-preview">
                      </div> <!-- End Row 2-->
                    </div>
                  <div class = "row">
                      <div class = "col-md-12">
                        <img class="img-responsive highlight_blue" src="../static/images/Kmeans_histo_2017_4.png" style="width: 100%" alt="Data-preview">
                      </div> <!-- End Row 2-->
                    </div>
                  <div class = "row">
                    <div class = "col-md-12">
                        <img class="img-responsive highlight_blue" src="../static/images/Kmeans_histo_2017_5.png" style="width: 100%" alt="Data-preview">
                      </div> <!-- End Row 2-->
                  </div>
                  <div class = "row">
                    <div class = "col-12-md">
                      <h2><u>Model Discussion:</u> </h2>
                    </div>
                  </div>
                  <div class = "row">
                    <div class = "col-12-md">
                      <p><h5>We've already been given the output of cars with high resale value and cars with low resale value. </h5></p>
                      <p><h5>The goal is to use machine learning to spot unknown trends between cars high resale cars and low resale cars</h5></p>
                    </div>
                  </div>
                  <div class = "row">
                    <div class = "col-12-md">
                      <h2><u>Findings and Future Improvements:</u></h2>
                    </div>
                  </div>
                  <div class = "row">
                    <div class = "col-12-md">
                      <p><h5>Our model had an accuracy score of .60. A model which accounts for more distinguishing car features would serve as better input features</h5></p>
                      <p><h5>According to industry experts the following factors are have the greatest influence on resale value:</h5></p>
                    </div>
                  </div>
                  <div class = "row">
                    <div class = "col-12-md">
                      <h6>
                        <font color="aliceblue">
                          <ol>
                           <li>Depreciation - the average new vehicle only retains about 35 percent of its original value after five years. </li>
                            <li> Market conditions - supply/demand of car and financial deals available for used car buyers </li>
                             <li> Brand perception </li>
                            <li>Popularity </li>
                              <li>Color - white, black, silver are preferred. </li>
                              <li>Options - a vehicle with popular options such as antilock brakes (ABS), alloy wheels, leather seats, navigation systems, parking sensors, and backup cameras.</li>
                              <li>Condition - a challenege to standardize and measure</li>
                              <li>Mileage -  If your car is five years old and has less than 20,000 miles on it, the price a buyer will be willing to pay is likely to be higher than if it has 50,000 or more miles</li>
                          </ol>
                      </h6>
                    </font>
                    </div>
                  </div>


          </div> <!-- ############## END HIGHLIGHT BOX-->
        </div>



      </div> <!-- End col-md-5-->
      <!--################## END RIGHT SIDE OF PG ###################-->
      <!--################# SEPERATION COLUMN ###################-->
      <div class="col-md-1"></div>
      <!--################### END SEPERATION COLUMN #########-->

      <!--################# LEFT SIDE OF PG #########################-->
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <h2>
              <u>KMeans Machine Learning Model </u>
            </h2>
          </div>
        </div>
        <!-- Row 2-->
        <div class="row">
          <div class="col-md-6">
            <img class="img-responsive highlight" src="../static/images/KMAnimated.gif" style="width: 80%" alt="Cluster-gif-1">
          </div>
          <div class="col-md-6">
            <img class="img-responsive highlight" src="../static/images/KMAnimated_2.gif" style="width: 80%" alt="Cluster-gif-2">
          </div>

        </div> <!-- End Row 2-->

        <!--################# START RIGHT SIDE CONTENT #################################-->
        <div class="row">
          <!-- 1st row of content-->
          <div class="col-md-12 highlight">
            <div class="row">
              <h2><u>KMeans Background Information:</u></h2>
            </div>
            <div class="row">
              <!-- 2ND ROW OF CONTENT-->
              <div class="col-md-12">
                <h5>
                  <font color="#1E90FF">
                    <p> <strong> The objective of K-means is simple: group similar data points together and discover
                        underlying patterns.</p></strong>
                    <p> <strong> To achieve this objective, K-means looks for a fixed number (k) of clusters in a
                        dataset.</p> </strong>
                    <p><strong>KMeans is in the family of Unsupervised Learning where we have no variable to predict
                        tied to the data. Instead of having an output, the data only has an input which would be
                        multiple variables that describe the data.</strong></p>
                  </font>
                </h5>
              </div> <!-- END COL-MD-12 -->
            </div> <!-- END 2ND ROW OF CONTENT-->
            <div class="row">
              <!-- 3RD ROW OF CONTENT-->
              <h2><u>Resale Category Model</u></h2>

            </div> <!-- END 3RD ROW OF CONTENT-->
            <!--4th Row of Content-->
            <div class = "row">
              <div class = "col-md-12">
                <ul>
                  <li><h5>High-Resale</h5></li>
                  <li><h5>Low-Resale</h5></li>
                </ul>
              </div>
            </div>
            <!-- Row 5-->
            <div class = "row">
              <div class = "col-md-12">
                <h2><u>KMeans Demostration:</u></h2>
              </div>
            </div>
            <!--Row 6-->
            <div class = "row">
              <div class = "col-md-12">
                <img class="img-responsive highlight_blue" src="../static/images/kmeans_head.PNG" style="width: 100%" alt="Data-preview">
              </div>
            </div>
            <!-- Row 7-->
            <div class = "row">
              <div class = "col-md-12">
                <h2>Let's examine the resale count of cars with respect to the following features: </h2>
              </div>
            </div>
            <div class = "col-md-12"> <!-- All col-md-12 -->
              <div class = "row">
                <h5>
                  <font color="aliceblue">
                <ol>
                  <li>fuel_type</li>
                  <li>vehicle_class</li>
                </ol> 
                </h5>
              </font>
              </div>
              <div class = "row">
                  <div class = "col-md-4">
                    <img class="img-responsive highlight_blue" src="../static/images/kmeans_relationship_1.PNG" style="width: 100%" alt="Data-preview">
                  </div>
                  <div class = "col-md-8">
                    <img class="img-responsive highlight_blue" src="../static/images/kmeans_relationship_2.PNG" style="width: 50%" alt="Data-preview">
                    </div>
                  </div>
                  <div class = "row">
                    <h2><u>Split,Fit, Train data:</u></h2>
                  </div>
                </div>
                <div class = "row">
                    <div class = "col-md-12">
                        <img class="img-responsive highlight_blue" src="../static/images/kmeans_split_train.PNG" style="width: 100%" alt="Data-preview">
                    </div>
                </div>
                <div class = "row">
                  <h2><u>Use Model to make Predictions:</u></h2>
                </div>
                <div class = "row">
                    <div class = "col-md-12">
                      <img class="img-responsive highlight_blue" src="../static/images/kmeans_pred.PNG" style="width: 100%" alt="Data-preview">
                    </div>
                </div>
                <div class = "row">
                    <h2><u>Visualize KMeans Cluster:</u></h2>
                  </div>
                <div class = "row">
                    <div class = "col-md-12">
                      <img class="img-responsive highlight_blue" src="../static/images/KMAnimated_3.gif" style="width: 80%" alt="Data-preview">
                    </div>
                </div>

            </div> <!-- col-md-12 declaration-->

          </div> <!-- End High light box-->
        </div> <!-- End 1st row of content-->


        <!--################# END RIGHT SIDE CONTENT #################################-->

      </div> <!-- End col-md-5-->

      <!-- ############### END LEFT SIDE OF PG #######################-->
    </div> <!-- End Row 1 padding-->

  </div> <!-- End of Main container-->
  <!--###################### End Loan Model KMeans Write up##############################################-->

  <!-- Footer -->
  <footer>
    <!-- Copyright -->
    <p><i class="far fa-copyright"></i>
      Copyright 2019: Keep Calm and <i class="fas fa-gas-pump"></i> On
    </p>
  </footer>

  <!--################## All the javascripts used for this page ####################### -->
  <!-- Plotly and d3 and javascript files -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script type="text/javascript" src="../static/js/person_selection.js"></script>




  <!-- End of the scripts -->
</body>

</html>
<!------------ End of HTML ---------------->